<div class="container">

    <div class="jumbotron">
        <h1>Eat Some Burgers</h1>
        <p>Make the Burgers. Eat the Burgers.</p>
        <h2>Make your Burger</h2>
        <panel>
            <form class="create-form">
                <div class="form-group">
                    <label for="newburger">Order Fresh Burger</label>
                    <input type="text" id="newburger" name="burger">
                    <button type="submit" class="btn btn-success" id="addburger">
                        <span class="fa fa-thumbs-up"></span>
                    </button>
                </div>
            </form>
        </panel>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="leftside"><strong>Order Your Burger</strong></div>
                <div class="panel-body">
                    <h4>add content here</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="rightside"><strong>Devour the Burgers</strong></div>
                <div class="panel-body">
                    <h4>add content here</h4>
                </div>
            </div>
        </div>

    </div>
    <!--endrow -->
</div>
<!--endcontainer -->